* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}

.common-p {
  font-size: 16px;
  color: #727272;
  line-height: 26px;
  margin: 32px 0;
}

.btn {
  padding: 20px 25px;
  background-color: #ff900e;
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* comon classes end ---------------------- */

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  max-width: 1920px;
  margin: 0 auto;
  border: #ff900e 1px solid;
}

header {
  background-color: #ff8f0e10;
}
nav {
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.brand {
  font-size: 45px;
  font-weight: bold;
  color: #131313;
}
nav ul li {
  list-style: none;
  margin-right: 25px;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
}

/* banner satart -----------------------*/
.banner-content {
  max-width: 860px;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  margin-top: 115px;
  font-size: 65px;
  font-weight: bold;
}

.banner-img {
  width: 100%;
  margin-bottom: 45px;
}

/* team section -------------*/
.team {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin-top: 85px;
}
.team-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin: 0 73px;
  width: 51%;
}
.team-imgs img {
  max-width: 342px;
  width: 100%;
}
.team-content {
  max-width: 535px;
  padding-right: 75px;
}
.team-title {
  font-size: 45px;
  font-weight: bold;
}
.team-title .gray-text {
  color: #727272;
  font-weight: 400;
}
.team-title .org-text {
  color: #ff900e;
}
