* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background-color: #ff8f0e10;
}
nav {
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.brand {
  font-size: 45px;
  font-weight: bold;
  color: #131313;
}
nav ul li {
  list-style: none;
  margin-right: 25px;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
}
