* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
  border: #dbdbdb 1px solid;
}
.container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #181818;
}

.btn-outline {
  background-color: transparent;
  border: #fd6e0a solid 1px;
  color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.btn-outline:hover {
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

header {
  background-color: #fff8f3;
  padding-top: 51px;
  background: url("../images/developer.png"),
    url("../images/header_bg.png") #fff8f3;
  background-position: 67px 38px, bottom right;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo h2 {
  font-weight: 900;
  font-size: 45px;
}
#logo span {
  color: #fd6e0a;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 51px;
  align-items: center;
}
nav ul li {
  font-size: 20px;
  color: #474747;
}

#banner {
  display: flex;
  justify-content: space-between;
  margin: 66px 38px 0 230px;
  align-items: center;
}
.banner-contant h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #474747;
}
.banner-contant h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
.banner-contant p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.banner-contant div button {
  margin-right: 30px;
}
#banner .banner-img img {
  max-width: 584px;
  height: 676px;
  vertical-align: middle;
}

/* Banner end here */

#about {
  padding: 131px 157px;
  margin: 130px auto;
  background-color: #fff8f3;
  border-radius: 10px;
  text-align: center;
}

#about > p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#about-info {
  display: flex;
  justify-content: space-around;
}
#about-info p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
#about-info h1 {
  font-size: 20px;
  color: #474747;
}

/* Skills start */

#skills > p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card {
  width: 267px;
  height: 377px;
  border-radius: 5px;
  box-shadow: 6px 0 #00000006;
  background-color: #ffffff;
  padding: 30px;
}
.card > h2 {
  font-size: 20px;
  margin: 30px 0 20px 0;
}
.card > p {
  line-height: 30px;
  font-size: 16px;
  color: #757575;
}
/* Skills end */

#education {
  padding-top: 170px;
}
.edu-container {
  margin-top: 73px;
  display: flex;
  justify-content: space-between;
}
.edu-left {
  max-width: 558px;
}

.edu-left h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}
.edu-card {
  width: 558px;
  padding-right: 47px;
}
.edu-card h2 {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}
.edu-card h3 {
  margin-bottom: 20px;
  font-size: 20;
  font-weight: 600;
  color: #757575;
}
.edu-card p {
  font-size: 16px;
  color: #757575;
}
.hr {
  border: #d1d1d1 solid 0.5px;
  margin: 30px 0;
}

.edu-right {
  max-width: 558px;
}
.edu-right h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}
.edu-btn {
  text-align: center;
  margin: 50px 0 170px 0;
}

/* footer start */
#footer {
  padding: 130px 230px;
  background-color: #fff8f3;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  max-width: 560px;
}
.footer-right {
  max-width: 460px;
}
.footer-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-left p {
  font-size: 16px;
  color: #757575;
}

.icons {
  margin-top: 30px;
}
.icons img {
  margin-right: 25px;
}

.footer-right form input {
  width: 460px;
  height: 64px;
  margin-bottom: 24px;
  padding: 18px 30px;
  font-size: 16px;
  line-height: 28px;
  border: none;
  border-radius: 5px;
}
.footer-right form textarea {
  width: 460px;
  height: 180px;
  margin-bottom: 24px;
  padding: 18px 30px;
  font-size: 16px;
  line-height: 28px;
  border: none;
  border-radius: 5px;
}
